body {
    background-color: antiquewhite;
}

/* Start of Nav */

.nav-cont{
    background-color: #fda391;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #095f71;
}

.nav-h1{
    color: #095f71;
    padding-left: 15px;
}

.nav-ul {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin: 5px 10px 5px 5px;
}

.nav-link {
    border-bottom: 1px solid #095f71;
    text-decoration: none;
}

.d {
    border-bottom: 1px solid #fda391;
}

/* End of Nav */

/*  Start of Footer */

footer {
    background-color: #fda391;
    padding: 10px;
    
}

.footer-div {
    border-top:2px solid #095f71;
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: ceenter

}

.footer-logo {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 60px;
}

.footer-ul {
    list-style: none;
    padding-left: 16px;
    
}

.footer-li {
    text-decoration: none;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
}

.footer-li:hover {
    color: #095f71;
}

/* End of Footer */

.center-cont {
    background-color: lightskyblue;
    border: 2px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100vh;
}

.img-cont {
    display: flex;
    justify-content: space-evenly;
}