
body {
    background-color: lightpink;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 15px 10px 10px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex; 
    flex-direction: column;
    border: solid lightslategrey;
    border-radius: 1em;
    background-color: lightgray;
}

nav ul li {
    padding: 1px 2px 2px 2px;
}

nav ul li a {
    text-decoration: none;
    color: lightcoral;
    padding: 1px 2px 2px 2px;
}

nav ul li a:hover {
    color: lightskyblue;
}

ul li {
    margin-right: 1em;
    margin-left: -1em;
}

h1 {
    border-top: solid lightgray;
    padding-top: 5px;
}

#port-img {
    display: flexbox;
    width: 190px;
    height: auto;
}

.port-img-container {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
    height: 20em;
}